<html>
<head>
    <meta name="referrer" content="same-origin">
    <style>
    table{
        width: 100%;
        max-width: 1100px;
        margin-bottom: 20px;
        border: 1px solid #7a7a7a;
        border-collapse: collapse;
        border-left: none;
        word-break: normal;
        line-height: 30px;
        text-align: center;
    }
    tr, th, td{
        border: 1px solid #7a7a7a;
    }
    input{
        text-align: center;
    }
    </style>
</head>
    <body>
    <h2>用户uid: {{ uid }} - {{ user_name }} 在{{ day_range }}天内获奖列表: </h2>
    <table>
    <tr>
    <th>raffle id</th>
    <th>短房间号</th>
    <th>原房间号</th>
    <th>主播</th>
    <th>奖品</th>
    <th>提供者</th>
    <th>中奖时间</th>
    </tr>
    {% for r in raffle_data %}
    <tr>
        <td>{{ r.raffle_id }}</td>
        <td>{{ r.short_room_id }}</td>
        <td>{{ r.real_room_id }}</td>
        <td>{{ r.master_name }}</td>
        <td>{{ r.prize_gift_name }}</td>
        <td>{{ r.sender_name }}</td>
        <td>{{ r.expire_time }}</td>
    </tr>
    {% endfor %}
    </table>
</body>
</html>