<html>
<head>
    <meta name="referrer" content="same-origin">
    <style>
    table{
        width: 100%;
        max-width: 1100px;
        margin-bottom: 20px;
        border: 1px solid #7a7a7a;
        border-collapse: collapse;
        border-left: none;
        word-break: normal;
        line-height: 30px;
        text-align: center;
    }
    tr, th, td{
        border: 1px solid #7a7a7a;
    }
    </style>
</head>
<body>
    <h2>礼物列表:（e_tag: {{ e_tag }}）<a href="/lt/query_gifts?json=true" target="_blank">JSON格式</a></h2>
    <h5>Process time: {{ proc_time }}(db query time: {{ db_query_time }})</h5>
    <table>
    <tr>
        <th>raffle id</th>
        <th>短房间号</th>
        <th>原房间号</th>
        <th>主播</th>
        <th>礼物名称</th>
        <th>赠送者</th>
        <th>失效时间</th>
        <th>爪机传送门</th>
    </tr>
    {% for r in records %}
    <tr>
        <td>{{ r.raffle_id }}</td>
        <td>{% if r.short_room_id %}
                {% if r.short_room_id == '-' %}-{% else %}
            <a href="https://live.bilibili.com/{{ r.short_room_id }}" target="_blank">{{ r.short_room_id }}</a>
                {% endif %}
            {% endif %}
        </td>
        <td><a href="https://live.bilibili.com/{{ r.real_room_id }}" target="_blank">{{ r.real_room_id }}</a></td>
        <td>{{ r.master_name or "" }}</td>
        <td>{{ r.gift_name }}</td>
        <td>{{ r.sender_name }}</td>
        <td>{{ r.expire_time }}</td>
        <td><a href="bilibili://live/{{ r.real_room_id }}" target="_blank">打开破站</a></td>
    </tr>
    {% endfor %}
    </table>
</body>
</html>